html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

hr {
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
  color: inherit;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: inherit;
}

input::-moz-placeholder {
  color: inherit;
}

input:-ms-input-placeholder {
  color: inherit;
}

input::-ms-input-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  color: inherit;
  display: inline-block;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="radio"] + label::before,
input[type="radio"] + label::after,
input[type="checkbox"] + label::before,
input[type="checkbox"] + label::after {
  content: '';
}

input[type="radio"] + label::after,
input[type="checkbox"] + label::after {
  position: absolute;
  display: none;
}

input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
  display: block;
}

input[type="radio"] + label::before,
input[type="radio"] + label::after {
  border-radius: 50%;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum-Regular.woff2") format("woff2"), url("../fonts/Cuprum-Regular.woff") format("woff"), url("../fonts/Cuprum-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum-Italic.woff2") format("woff2"), url("../fonts/Cuprum-Italic.woff") format("woff"), url("../fonts/Cuprum-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "Cuprum", Arial, sans-serif;
}

.container {
  width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.redBut {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.redBut:hover {
  background-color: #ca2c37;
}

.redBut:active {
  background-color: #ba2732;
}

.header {
  background-color: #f3f7f8;
  padding-bottom: 60px;
  color: white;
}

.header--color {
  background-color: #293449;
}

.header__top,
.header__mid,
.header__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  padding: 9px 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ee3643;
  margin-bottom: -5px;
  border-bottom: 5px solid #b52933;
  border-radius: 0;
}

.header__logo[href]:hover {
  background-color: #ca2c37;
}

.header__logo[href]:active {
  background-color: #ba2732;
}

.header__bookmarks,
.header__checkout,
.header__basket,
.header__search {
  font-size: 17px;
  line-height: 18px;
}

.header__contacts {
  max-width: 275px;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.header__search svg {
  position: absolute;
  left: 15px;
  top: 12px;
  fill: white;
  opacity: 0.3;
}

.header__search:hover {
  background-color: #212a39;
}

.header__search:hover svg {
  opacity: 1;
}

.header__search input {
  background-color: transparent;
  border: none;
  padding-left: 50px;
  width: 100%;
  height: 100%;
}

.header__search input:focus {
  background-color: white;
  color: black;
}

.header__search input:focus + svg {
  fill: red;
  opacity: 1;
}

.header__bookmarks,
.header__basket {
  padding: 12px;
  padding-left: 50px;
  padding-right: 30px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__bookmarks:hover,
.header__basket:hover {
  background-color: #212a39;
}

.header__bookmarks:hover::before,
.header__basket:hover::before {
  opacity: 1;
}

.header__bookmarks:active,
.header__basket:active {
  background-color: #161c28;
  opacity: 0.6;
}

.header__bookmarks--notEmpty,
.header__basket--notEmpty {
  background-color: #ee3643;
}

.header__bookmarks--notEmpty:hover,
.header__basket--notEmpty:hover {
  background-color: #ca2c37;
}

.header__bookmarks--notEmpty:active,
.header__basket--notEmpty:active {
  background-color: #ba2732;
}

.header__basket::before,
.header__bookmarks::before {
  position: absolute;
  top: 12px;
  opacity: 0.3;
}

.header__bookmarks::before {
  content: url("../img/svg/icon-bookmark.svg");
  left: 23px;
}

.header__basket::before {
  content: url("../img/svg/icon-cart.svg");
  left: 15px;
}

.header__checkout {
  background-color: #63a63e;
  padding: 12px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__checkout:hover {
  background-color: #5fba2e;
}

.header__checkout:active {
  background-color: #518533;
  opacity: 0.6;
}

.header__mid {
  padding-bottom: 40px;
  padding-top: 46px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__parph {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #ee3643;
  width: 200px;
  margin-left: 50px;
  margin-right: 70px;
}

.header__tel {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding: 10px;
  padding-left: 70px;
  padding-right: 50px;
  border: 3px solid white;
  position: relative;
}

.header__tel::after {
  content: url("../img/svg/icon-phone.svg");
  position: absolute;
  left: 12px;
  top: 12px;
}

.header__adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.header__userNav {
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__userNav .header__accountBut,
.header__userNav .header__logoutBut,
.header__userNav .header__myOrdersBut,
.header__userNav .header__myRoomBut {
  display: none;
}

.header__userNav--inLogin .header__loginBut,
.header__userNav--inLogin .header__regBut {
  display: none;
}

.header__userNav--inLogin .header__accountBut,
.header__userNav--inLogin .header__logoutBut,
.header__userNav--inLogin .header__myOrdersBut,
.header__userNav--inLogin .header__myRoomBut {
  display: block;
}

.header__loginBut,
.header__regBut,
.header__accountBut {
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
  padding: 12px 24px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__loginBut:hover,
.header__regBut:hover,
.header__accountBut:hover {
  color: #ee3643;
}

.header__loginBut:active,
.header__regBut:active,
.header__accountBut:active {
  color: #c9c9c9;
}

.header__accountBut:hover {
  color: #000;
}

.header__loginBut {
  padding-left: 50px;
  margin-right: 10px;
  position: relative;
}

.header__accountBut {
  width: 255px;
  padding-left: 45px;
  text-align: left;
  position: relative;
}

.header__logoutBut {
  background-color: white;
  width: 45px;
  position: relative;
}

.header__loginBut svg,
.header__logoutBut svg,
.header__accountBut svg {
  position: absolute;
  top: 14px;
  left: 14px;
  fill: #c5c5c5;
}

.header__loginBut:hover svg,
.header__logoutBut:hover svg,
.header__accountBut:hover svg {
  fill: #212a39;
}

.header__loginBut:active svg,
.header__logoutBut:active svg,
.header__accountBut:active svg {
  fill: #c5c5c5;
}

.header__myOrdersBut,
.header__myRoomBut {
  color: #32425c;
  font-family: Cuprum;
  text-decoration: underline;
  position: absolute;
  bottom: -25px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__myOrdersBut:hover,
.header__myRoomBut:hover {
  color: #ee3643;
}

.header__myOrdersBut:active,
.header__myRoomBut:active {
  color: #c5c5c5;
}

.header__myOrdersBut {
  left: 20px;
}

.header__myOrdersBut::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 7px;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #212a39;
}

.header__myRoomBut {
  right: 70px;
}

.header__bot {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 5px solid #293449;
}

.header__bot li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__bot a {
  font-size: 17px;
  line-height: 17px;
  padding: 19px;
  background-color: #32425c;
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__bot a[href]:hover {
  background-color: #293448;
}

.header__bot a[href]:active {
  background-color: #1e2639;
  color: #c9c9c9;
}

.promo {
  padding-top: 60px;
  padding-bottom: 50px;
  color: white;
}

.promo__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.promo__item {
  min-height: 123px;
  padding: 20px 25px;
  padding-right: 125px;
  position: relative;
}

.promo__item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 13px;
}

.promo__item a {
  min-width: 135px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.promo__item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo__item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo__item-1::after,
.promo__item-2::after,
.promo__item-3::after,
.promo__item-5::after,
.promo__item-6::after {
  position: absolute;
  width: 135px;
  height: 100%;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo__item-1 {
  background-color: #ffbf47;
}

.promo__item-1::after {
  content: url(../img/svg/icon-1.svg);
}

.promo__item-2 {
  background-color: #3bbce3;
}

.promo__item-2::after {
  content: url(../img/svg/icon-2.svg);
}

.promo__item-3 {
  background-color: #dc91d8;
}

.promo__item-3::after {
  content: url(../img/svg/icon-3.svg);
}

.promo__item-5 {
  background-color: #8ed78f;
}

.promo__item-5::after {
  content: url(../img/svg/icon-4.svg);
}

.promo__item-6 {
  background-color: #ffc047;
}

.promo__item-6::after {
  content: url(../img/svg/icon-5.svg);
}

.promo__item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #3bbce3;
  padding: 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.promo__item-4 a {
  position: absolute;
  left: 25px;
  bottom: 22px;
  padding: 10px 48px;
  background-color: #ee3643;
}

.promo__item-4 a:hover {
  background-color: #ca2c37;
}

.promo__item-4 a:active {
  background-color: #ba2732;
}

.promo__item-4::before,
.promo__item-4::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  top: 120px;
}

.promo__item-4::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  left: 30px;
}

.promo__item-4::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 30px;
}

.promo__slide {
  height: 100%;
  padding: 25px;
}

.promo__slide h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.promo__slide p {
  font-size: 18px;
  line-height: 24px;
}

.promo__slide-1 {
  background-image: url(../img/slider-1.jpg);
}

.promo__slide-2 {
  background-image: url(../img/slider-2.jpg);
}

.promo__radio {
  position: absolute;
  bottom: 25px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

.promo__radio-1 {
  left: 295px;
}

.promo__radio-2 {
  right: 295px;
}

.promo__radio-checked::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  border-radius: 5px;
  background-color: red;
}

.productCard {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaeaea;
  min-height: 318px;
  font-family: "PT Sans";
  position: relative;
}

.productCard div {
  height: 140px;
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productCard:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.productCard:hover div .productCard__pic {
  display: none;
  opacity: 0;
}

.productCard:hover div .productCard__buyBut,
.productCard:hover div .productCard__inBookBut {
  display: block;
  opacity: 1;
}

.productCard__buyBut {
  display: none;
  color: white;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 #367315;
          box-shadow: inset 0 -3px 0 #367315;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  min-width: 135px;
  position: relative;
}

.productCard__buyBut::before {
  content: url(../img/svg/icon-cart.svg);
  position: absolute;
  top: 10px;
  left: 15px;
  opacity: 0.3;
}

.productCard__buyBut:hover {
  background-color: #5fbb2d;
}

.productCard__buyBut:hover::before {
  opacity: 1;
}

.productCard__buyBut:active {
  background-color: #518534;
}

.productCard__inBookBut {
  display: none;
  width: 100%;
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  padding: 10px;
  border-radius: 3px;
  min-width: 135px;
}

.productCard__inBookBut:hover {
  border: 3px solid #32425c;
}

.productCard__inBookBut:active {
  opacity: 0.3;
}

.productCard__itemName {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: auto;
}

.productCard__oldPrice {
  color: #a9a9a9;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-top: 10px;
}

.productCard__itemBut {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 10px 20px 10px 35px;
  position: relative;
  min-width: 120px;
  margin-top: 10px;
  margin-left: -10px;
  border-radius: 3px 0 0 3px;
}

.productCard__itemBut::after {
  content: '';
  position: absolute;
  top: 6px;
  right: -13px;
  width: 26px;
  height: 27px;
  background-color: #ee3643;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.makerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaeaea;
  min-height: 145px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.makerCard:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.makerCard:active {
  opacity: 0.3;
}

.itemList__header {
  background-color: #f9f5f0;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.itemList__header h2 {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.itemList__header a {
  min-width: 250px;
}

.itemList {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.itemList--catalog {
  grid-template-columns: repeat(3, 1fr);
}

.newCard::after {
  content: url(../img/newitem.png);
  position: absolute;
  top: 0;
  right: 0;
}

.services {
  padding-top: 65px;
  background-color: #f4f8f9;
}

.services__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.services__parph {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 70px;
}

.services-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__butList {
  position: relative;
  width: 240px;
}

.services__butList::after {
  content: url("../img/serv-shadow.png");
  position: absolute;
  right: 0;
  top: -40px;
}

.services__sliderBut {
  width: 100%;
  text-align: left;
  padding: 19px;
  font-size: 23px;
  line-height: 22px;
  background-color: #32425c;
  color: white;
  border-bottom: 1px solid #41546b;
}

.services__sliderBut-active {
  color: #32425c;
  background-color: white;
  border-bottom: 1px solid transparent;
}

.services__slide {
  height: 280px;
  width: 620px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services__slide-1 {
  background-image: url("../img/bg-delivery.png");
}

.services__slide-2 {
  background-image: url("../img/bg-varanty.png");
}

.services__slide-3 {
  background-image: url("../img/bg-credit.png ");
}

.services__slide h3 {
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.services__slide p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  width: 380px;
  margin-top: 25px;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 85px;
  padding-bottom: 87px;
}

.about-wrapper h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-wrapper p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  padding-bottom: 25px;
}

.about {
  width: 520px;
}

.contacts {
  width: 300px;
}

.about__list li {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.about__list li::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #ee3643;
}

.about__list {
  margin-bottom: 35px;
}

.about__link,
.contacts__link {
  padding: 10px 40px;
}

.contacts__link {
  width: 100%;
}

.contacts__map {
  margin-top: 10px;
  margin-bottom: 35px;
}

.footer {
  background-color: #32425c;
  color: #f3f7f9;
}

.footer-wraper {
  background-color: #293449;
}

.footer__logo {
  padding: 16px 41px;
  background-color: #ee3643;
  color: white;
  border-bottom: 5px solid #b52933;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.footer__logo[href]:hover {
  background-color: #ca2c37;
}

.footer__logo[href]:active {
  background-color: #ba2732;
}

.footer__top,
.footer__mid,
.footer__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__linkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 24px;
  margin-top: 38px;
}

.footer__linkList a {
  margin-left: 59px;
}

.footer__linkList a[href]:hover {
  text-decoration: underline;
}

.footer__linkList a[href]:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer__mid {
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer__mid p {
  font-size: 18px;
  line-height: 24px;
}

.footer__mid .footer__linkList {
  margin-top: 0;
  color: #ffd180;
}

.footer__bot {
  padding-top: 35px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 30px;
}

.footer__socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  margin-left: 160px;
  margin-right: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socialList a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #212a3a;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__socialList a:hover {
  background-color: #ee3643;
}

.footer__VKlink {
  background-image: url("../img/svg/icon-vk.svg");
}

.footer__FBlink {
  background-image: url("../img/svg/icon-fb.svg");
}

.footer__Instlink {
  background-image: url("../img/svg/icon-insta.svg");
}

.footer__link a {
  color: #ffd180;
}

.footer__link a:hover {
  text-decoration: underline;
}

.footer__link a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer__link-1 {
  margin-right: 53px;
}

.catalog__breadcrumbs {
  padding: 21px;
  padding-left: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__breadcrumbs a {
  margin-right: 40px;
  position: relative;
}

.catalog__breadcrumbs a::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 3px;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.catalog__breadcrumbs a:last-child::after {
  border: none;
}

.catalog__title {
  font-size: 30px;
  line-height: 30px;
  padding: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  font-weight: normal;
  margin-bottom: 20px;
  color: #32425c;
}

.catalog--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.catalog__columnHeader {
  background-color: #f7f3ec;
  text-transform: uppercase;
  padding: 10px 18px;
  font-family: "PT Sans";
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__columnHeader h3 {
  font: inherit;
  margin-right: auto;
}

.catalog__columnHeader a:not([href]) {
  color: #ee3643;
}

.catalog__resultBreadCrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 38px;
  margin-top: 30px;
  font-family: "PT Sans";
}

.catalog__resultBreadCrumbs a {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  border-radius: 4px;
}

.catalog__resultBreadCrumbs a:active {
  border: 1px solid #ee3643;
}

.catalog__resultBreadCrumbs a:not([href]) {
  background-color: #ee3643;
  color: white;
  border: 1px solid #ee3643;
}

.catalog__resultBreadCrumbs li:last-child a {
  width: auto;
  padding: 0 30px;
}

.catalog--wrapperColor {
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 68px;
}

.catalog__about {
  padding-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.catalog__parph {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

.catalog__sortByMin,
.catalog__sortByMax {
  border: 5px solid transparent;
  border-bottom: 10px solid #c5c5c5;
}

.catalog__sortByMin:not([href]),
.catalog__sortByMax:not([href]) {
  border-bottom: 10px solid #ee3643;
}

.catalog__sortByMin {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
  margin-left: 45px;
}

.catalog__sortByMax {
  -webkit-transform: translateY(4px) rotate(180deg);
      -ms-transform: translateY(4px) rotate(180deg);
          transform: translateY(4px) rotate(180deg);
  margin-left: 20px;
}

.catalog__sortByType,
.catalog__sortByFunc,
.catalog__sortByPrice {
  margin-left: 70px;
}

.catalog__sortByType[href],
.catalog__sortByFunc[href],
.catalog__sortByPrice[href] {
  border-bottom: 1px dotted #ee3643;
}

.catalog__sortByType[href]:hover,
.catalog__sortByFunc[href]:hover,
.catalog__sortByPrice[href]:hover {
  border-bottom: 1px solid #ee3643;
}

.catalog__sortByType[href]:active,
.catalog__sortByFunc[href]:active,
.catalog__sortByPrice[href]:active {
  color: #ee3643;
  border: none;
}

.filter {
  font-family: "PT Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  margin-right: 20px;
}

.filter__block {
  padding: 20px 0;
  border-bottom: 1px solid #c5c5c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter__block h4 {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.filter__priceSlide {
  height: 80px;
  background-color: #f7f3ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.filter__priceRange {
  width: 160px;
  height: 2px;
  background-color: #63a63e;
}

.filter__priceControl {
  width: 20px;
  height: 20px;
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.filter__priceControlMin {
  left: 20px;
}

.filter__priceControlMax {
  right: 20px;
}

.filter__priceInputMin,
.filter__priceInputMax {
  width: 95px;
  height: 40px;
  background-color: #f7f3ec;
  border: none;
  text-align: center;
  border-radius: 5px;
}

.filter__priceInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.filter__priceInput::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 1px;
  background-color: black;
  left: calc(50% - 5px);
  top: 50%;
}

.filter__maker::before {
  content: '';
  width: 23px;
  height: 23px;
  border: 2px solid #c9c9c9;
  border-radius: 3px;
  margin-right: 8px;
}

.filter__maker::after {
  content: '';
  top: -4px;
  left: 10px;
  width: 13px;
  height: 21px;
  border-right: 5px solid #c9c9c9;
  border-bottom: 5px solid #c9c9c9;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 2px 0 0 0 white, inset -2px 0 0 0 white;
          box-shadow: 2px 0 0 0 white, inset -2px 0 0 0 white;
}

.filter__maker,
.filter__type {
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter__maker:last-child,
.filter__type:last-child {
  margin: 0;
}

.filter__type::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 3px solid #c5c5c5;
  border-radius: 50%;
  margin-right: 8px;
}

.filter__type::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #c5c5c5;
  border-radius: 50%;
  left: 7px;
  top: 7px;
}

.filter__block:last-child {
  border: none;
}

.filter button {
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 38px;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  margin-top: 55px;
  margin-right: auto;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter button:hover {
  background-color: #ca2c37;
  color: white;
  border-color: #ca2c37;
}

.filter button:active {
  background-color: #ba2732;
  color: white;
  border-color: #ba2732;
}